:root{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.form-control-sm{
    width: 700px;
}
.btn-link{
    float: right;
    border-color: blue;
}